<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/Sarah/Documents/4. Semester (FS16)/ComputerGraphicLab/UE/Assignment4/14-719-421_Sarah_Zurmuehle_4 2/1a/bRenderer/bRenderer_ios.xcodeproj</string>
</dict>
</plist>
